<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div align="center">
        <h1>
           Preguntas Frecuentes
        </h1>
        <div class="form-group">
        <input type="text" class="form-control" name="filterPregunta" placeholder="Buscar pregunta por nombre...." [(ngModel)]="filterPregunta">
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div align="center">
                 <h3 ><i class="fas fa-list-ol"></i> Total preguntas frecuentes</h3>
            <h4 class="display-4">
               {{preguntas?.length}}
            </h4>
        </div>
      </div>
    <div class="col-md-3">
      
        <div align="center">
          <br>
        <a class="btn btn-info"  href="preguntas-frecuentes/agregar" role="button" >
           <h4> <i class="fas fa-plus"></i> Nueva pregunta frecuente</h4>
        </a>
        </div>
      
       
    </div>




    </div>
  </div>
</header>


<br>
<div *ngIf="(preguntas.length==0 )">
<hr>
  <div>
  <h6>Lo sentimos en este momento no existen Preguntas frecuentes </h6>
</div>
</div>

<div *ngIf="(preguntas.length!=0 )">
  <section id ="pqrs">
<div class="container"  >
    <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4"  *ngFor="let pregunta of preguntas |filtern:filterPregunta| paginate:{itemsPerPage :3 , currentPage:PageActual} ; let i = index ">
            <div class="card h-100">
              <div class="card-header">
                <h5><i class="fa fa-question-circle"></i> Pregunta: {{pregunta.nombre}}</h5>
              </div>
              <div class="car-body container">
                <form #preguntaForm="ngForm" (ngSubmit)="guardar(preguntaForm )" >
           
            <p class="card-text"><i class="fa fa-pencil-alt"></i> Pregunta 
            </p>
            <textarea class="textinput1"name="nombre" rows="2" cols="38" [(ngModel)]="pregunta.nombre"></textarea>
               <input type="hidden" name="nombre"  style="width:285;" class="form-control" #nombre="ngModel" [(ngModel)]="pregunta.nombre">
               <br>
               <br>
             <hr>
          <p class="card-text"><i class="fa fa-pencil-alt"></i> Descripcion </p>
       
            
            <textarea class="textinput"name="descripcion" rows="4" cols="38" [(ngModel)]="pregunta.descripcion"></textarea>
   
               <input type="hidden" name="descripcion" class="form-control" #descripcion="ngModel" [(ngModel)]="pregunta.descripcion">
                 <input type="hidden" name="id" class="form-control" #id="ngModel" [(ngModel)]="pregunta.id">
          
           
          <br>
       
            <div class="row">
            <div class="col-md-6">
              <div align="center">
                <hr>
                  <form (submit)="eliminar(pregunta.id)">
                   <button type="submit" style="width:130" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Eliminar
          </button>
           </form>
              </div>
            
            </div>
          <div class="col-md-6">
            <div align="center">
              <hr>
               <button type="submit" style="width:130 ;" class="btn btn-primary btn-block">
             <i class="fas fa-edit"></i> Editar </button>
            </div>
             
       
          </div>
         
            
          
            </div> 
               
           </form>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
        </div>
      </div>
  
  </div>

    


</section>
</div>




