
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a routerLink="/promociones" style="width:200" class="btn btn-dark text-white btn-block">
             <i class="fas fa-arrow-circle-left"></i> Regresar al Inicio
          </a>
        </div>
      
        <div class="col-md-5">
        
              <h3>Agregar Promocion</h3>
         
        
        </div>
      </div>
    </div>
  </section>


  
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4 style="text-align: center;">Diligencie este formulario para ingresar una nueva promocion</h4>
                                <hr>
    
                                <form #insertarpromForm ="ngForm" (ngSubmit)="agregar(insertarpromForm)"  >
                                    
                                    <div class="modal-body">
                                     <div class="form-group">
                                         <div class="row">
                                              
                                                  <label for="Nombre"> <i class="fas fa-pencil-alt"></i> Nombre</label>
                                            <input type="text" name="Nombre" class="form-control" #Nombre="ngModel" [(ngModel)]="insertarprom.Nombre">
                                            
                                                
                                          
                                            </div>
                                     </div>
                                          <hr>
                                        <div class="form-group">
    
                                            <label for="Descripcion"><i class="fas fa-pencil-alt"></i> Descripcion</label>
                                             <div align="center">
                                       <textarea   class="textinput" name="Descripcion" rows="3" cols="60" [(ngModel)]="insertarprom.Descripcion"></textarea>
                                               </div>
                                           
                                           
    
                                        </div>
                                          <div class="form-group">
    
                                           
                                            <input type="hidden" name="LastModification" class="form-control" #LastModification="ngModel" [(ngModel)]="insertarprom.LastModification"
                                                                      >
                                           </div>
    
                                      
                                        
                                           <div class="form-group">
                                            <input type="hidden" name="Estado" class="form-control" #Estado="ngModel" [(ngModel)]="insertarprom.Estado"
                                             >
                                          </div>
                                             <hr>
                                             <div class="form-group">
                                              <div class="row">
                                               
                                                 <div class="col-md-6">
                                                  <hr>
                                                    <label for="FechaInicio"><i class="fas fa-calendar"></i> Fecha de inicio</label>

                                            <input type="date" name="FechaInicio" class="form-control" #FechaInicio="ngModel" [(ngModel)]="insertarprom.FechaInicio"
                                                      >
                                                </div>
                                                 <div class="col-md-6">
                                                  <hr>
                                                   <label for="FechaFin"> <i class="fas fa-calendar"></i> FechaFin</label>
                                            <input type="date" name="FechaFin" class="form-control" #FechaFin="ngModel" [(ngModel)]="insertarprom.FechaFin"
                                             >
                                                </div>
                                              </div>
                                           
                                          
                                          </div>
                                            <hr>
                                           <div class="form-group">
                                            <div align="center">
                                               
                                                  <label for="PorcentajeDescuento"><i class="fa fa-percent"></i> Porcentaje de descuento</label>
                                            <select name="PorcentajeDescuento" style="width:200" class="form-control" #PorcentajeDescuento="ngModel" [(ngModel)]="insertarprom.PorcentajeDescuento">
                                            <option selected>10</option>
                                            <option>20</option>
                                            <option>30</option>
                                            <option>40</option>
                                            <option>50</option>
                                            <option>60</option>
                                            <option>70</option>
                                             </select>
                                              
                                            </div>
                                            
                                              
                                         

                                             
                                            
                                           
                                          </div>
                                
                                             <div class="form-group">
                                            
                                             
                                          </div>
                                             <div class="form-group">
                                           
                                            <input type="hidden" name="Token" class="form-control" #Token="ngModel" [(ngModel)]="insertarprom.Token"
                                              
                                              >
                                          </div>
                                        
    
                                    </div>
                                
                                   <hr>
                                      <div align="center">
                                        <a><button type="submit" style="width:200" class="btn btn-primary"> <i class="fa fa-plus"></i> Agregar</button></a>
                                      </div>
                                        
                                      
                                    
                                </form>
    
                            </div>
                        </div> 
                    </div>
                </div>  
            </div>
        </div>
    
    
    
    
    
