<div class="row mt-2">
    <div class ="col-6">
        <input type="text" class="form-control" name="filterNoticia" placeholder="Busqueda por titulo ..." [(ngModel)]="filterNoticia">
    </div >
    <div class="col-6">
        <div class="float-right">
            <button class="btn btn-sm btn-success" routerLink="/noticias/agregar">Nuevo noticia</button>
        </div>
    </div>
</div>
<hr>
<div class="container" *ngIf="(noticias  | arrayFilter:'titulo':filterNoticia).length === 0">
    <b class="text-muted">No hay resultados para la búsqueda</b>
</div>
<div class="row" *ngIf="noticias.length > 0">
    <div class="col-md-4 col-sm-6 col-xs-12 mb-2" *ngFor="let noticia of noticias | arrayFilter:'titulo':filterNoticia | paginate:{itemsPerPage :3 , currentPage:PageActual}">
        <div class="card-noticia card shadow">
            <div class="card-header">
                <small>
                    <b class="text-muted">Fecha: </b>
                    {{ noticia.fechaPublicacion | date: 'dd MMM yyyy' }}
                </small>
                <div class="float-right">
                    <button class="btn btn-sm btn-outline-success" routerLink="/noticias/detalle/{{ noticia.id }}">
                        <i class="far fa-eye"></i>
                    </button>
                </div>
            </div>
            <div class="card-body pb-1">
                <app-carousel-images [imagenes]="noticia.imagenesUrl | imgUrlToArray" tipo="noticia"></app-carousel-images>
                <hr>
                <h6 class="card-title">{{ noticia.titulo }}</h6>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button routerLink="/noticias/editar/{{ noticia.id }}" 
                        class="btn btn-sm btn-block btn-primary">Editar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-sm btn-block btn-danger" (click)="showConfirmAlert(noticia)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div align="center" *ngIf="noticias.length > 0">
        <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
    </div>
