<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Agregar Evento
        </h1>
      </div> 
    </div>
  </div>
</header>
<div>


  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/eventos" class="btn btn-dark text-white btn-block">
             <i class="fas fa-arrow-left"></i> Regresar al Inicio
          </a>
        </div>
      </div>
    </div>
  </section>



<div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
<form #eventoForm="ngForm" (ngSubmit)="agregar(eventoForm)"> 
        <div class="modal-body">
          <div class="form-group">
                <label for="nombre"> Ingrese el Nombre del evento</label>
                <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="evento.Nombre"
                  [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required minlength="2">
                <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                  Nombre requerido
                </div>
                <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>

            <!--  <div class="form-group">
                <label for="  FechaPublicacion">Fecha de publicacion</label>
                <input type="date" name="FechaPublicacion" class="form-control" #FechaPublicacion="ngModel" [(ngModel)]="evento.FechaPublicacion"
                  [ngClass]="{'is-invalid': FechaPublicacion.errors && FechaPublicacion.touched}" required minlength="2">
                <div [hidden]="!FechaPublicacion.errors?.required" class="invalid-feedback">
                  Fecha publicacion requerida
                </div>
                <div [hidden]="!FechaPublicacion.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>-->

            
              <div class="form-group">
                <label for="Fecha">Ingrese la Fecha en la que se realizara el evento</label>
                <input type="date" name="Fecha" class="form-control" #Fecha="ngModel" [(ngModel)]="evento.Fecha"
                  [ngClass]="{'is-invalid': Fecha.errors && Fecha.touched}">
                <div [hidden]="!Fecha.errors?.required" class="invalid-feedback">
                  Fecha requerida
                </div>
               
              </div>



              <div class="form-group">
                <label for="  Descripcion">Descripcion</label>
                <input type="text" name="Descripcion" class="form-control" #Descripcion="ngModel" [(ngModel)]="evento.Descripcion"
                  [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched}" required minlength="10">
                <div [hidden]="!Descripcion.errors?.required" class="invalid-feedback">
                  Decripcion requerida
                </div>
                <div [hidden]="!Descripcion.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 10 caracteres
                </div>
              </div>



              <div class="form-group">
                <label for="  Calificacion">Calificacion</label>
                <input type="number" name="Calificacion" class="form-control" #Calificacion="ngModel" [(ngModel)]="evento.Calificacion"
                  [ngClass]="{'is-invalid': Calificacion.errors && Calificacion.touched}" >
                <div [hidden]="!Calificacion.errors?.required" class="invalid-feedback">
                  Calificacion requerida
                </div>
               
              </div>



              <div class="form-group">
                <label for="ImagenesUrl">Por favor suba la imagen que tendra este evento</label>
                <input type="file" (change)="onFileSelected($event.target.files)" multiple>
         <input type="hidden" name="ImagenesUrl" class="form-control" #ImagenesUrl="ngModel" [(ngModel)]="evento.ImagenesUrl"
                >
              
              
               
              </div>

           
     <div class="form-group">
                <!--<label for="ComentariosId">ComentariosId</label>-->
                <input type="hidden" name="ComentariosId" class="form-control" #ComentariosId="ngModel" [(ngModel)]="evento.ComentariosId"
                  [ngClass]="{'is-invalid':ComentariosId.errors && ComentariosId.touched}" >
                <!--<div [hidden]="!ComentariosId.errors?.required" class="invalid-feedback">
                  ComentariosId requerida
                </div>-->
                
              </div>


              <div class="form-group">
                <!--<label for="ListaComentariosEvento">ListaComentariosEvento</label>-->
                <input type="hidden" name="ListaComentariosEvento" class="form-control" #ListaComentariosEvento="ngModel" [(ngModel)]="evento.ListaComentariosEvento"
                  [ngClass]="{'is-invalid': ListaComentariosEvento.errors && ListaComentariosEvento.touched}" required minlength="2">
               <!-- <div [hidden]="!ListaComentariosEvento.errors?.required" class="invalid-feedback">
                 ListaComentariosEvento requerida
                </div>
                <div [hidden]="!ListaComentariosEvento.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>-->
              </div>

          
        
        </div>

        <div class="modal-footer">
          <button type="submit" style="width:700px; " class="btn btn-primary" >Agregar</button>

        </div>

      </form>
</div>
</div>
</div>
</div>
</div>

    