
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/eventos" class="btn btn-dark text-white btn-block">
             <i class="fas fa-arrow-circle-left"></i> Regresar al Inicio
          </a>
        </div>
      </div>
    </div>
  </section>



<div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="card">
            <div class="card-header">
<form #eventoForm="ngForm" (ngSubmit)="agregar(eventoForm)"> 
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                <label for="nombre"><i class="fas fa-align-justify"></i> Ingrese el Nombre del evento</label>
                <input type="text" name="nombre" class="form-control" #nombre="ngModel" [(ngModel)]="evento.Nombre"
                 >
         
              </div>
           
            <hr>

              <div class="form-group">
                <label for="Fecha"><i class="fas fa-calendar"></i> Ingrese la Fecha en la que se realizara el evento</label>
                <input type="date" name="Fecha" class="form-control" #Fecha="ngModel" [(ngModel)]="evento.Fecha"
                  [ngClass]="{'is-invalid': Fecha.errors && Fecha.touched}">
                <div [hidden]="!Fecha.errors?.required" class="invalid-feedback">
                  Fecha requerida
                </div>
               
              </div>
              <hr>
                <div class="form-group">
                <label for="Descripcion"><i class="fas fa-align-justify"></i> Escriba la Descripcion del evento</label>
                    <textarea class="textinput" name="Descripcion" rows="3" cols="45" [(ngModel)]="evento.Descripcion"></textarea>
                <input type="hidden" name="Descripcion" class="form-control" #Descripcion="ngModel" [(ngModel)]="evento.Descripcion"
                 >
            
              </div>

            </div>
            <div class="col-md-6">
             

            


              <div class="form-group">
           
                <input type="hidden" name="Calificacion" class="form-control" #Calificacion="ngModel" [(ngModel)]="evento.Calificacion"
                  [ngClass]="{'is-invalid': Calificacion.errors && Calificacion.touched}" >
                
               
              </div>


              
                    

              <div class="form-group">
                <label for="ImagenesUrl"> <i class="fas fa-images"></i> Por favor suba la imagen que tendra este evento</label>
                <div class="form-group">
    <b class="text-muted">Selección de imágenes</b>
    <div class="custom-file">
        <input [disabled]="files.length >= 1" type="file" class="custom-file-input" id="customFile"
                (change)="onChangeFile($event)" accept="image/*">
        <label class="custom-file-label" for="customFile">Selecciona una imagen</label>
    </div>
</div>
<div class="form-group" *ngIf="files.length > 0">
    <table class="table text-center table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of files">
                <td>{{ file.name }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteFile(file)">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <small *ngIf="files.length >= 1" class="text-primary">Haz alcanzado el límite de imágenes</small>
</div>
                           <!-- <app-images-upload (changeFiles)="onChangeFile($event)"></app-images-upload>-->
                      
               <!-- <input type="file" (change)="onFileSelected($event.target.files)" accept="image/x-png,image/gif,image/jpeg">-->
               
         <input type="hidden" name="ImagenesUrl" class="form-control" #ImagenesUrl="ngModel" [(ngModel)]="evento.ImagenesUrl"
                >
              
              
               
              </div>
            </div>
          </div>
         

                

           
     <div class="form-group">
            
                <input type="hidden" name="ComentariosId" class="form-control" #ComentariosId="ngModel" [(ngModel)]="evento.ComentariosId"
                  [ngClass]="{'is-invalid':ComentariosId.errors && ComentariosId.touched}" >
              
                
              </div>


              <div class="form-group">
               
                <input type="hidden" name="ListaComentariosEvento" class="form-control" #ListaComentariosEvento="ngModel" [(ngModel)]="evento.ListaComentariosEvento"
                  [ngClass]="{'is-invalid': ListaComentariosEvento.errors && ListaComentariosEvento.touched}" required minlength="2">
       
              </div>

          
        
        </div>

       <hr>
       <div align="center">
           <button type="submit" style="width:200px; " class="btn btn-primary" > <i class="fas fa-plus"></i> Agregar</button>
       </div>
        

      

      </form>
</div>
</div>
</div>
</div>
</div>

    