<section>
  <div class="container">
    <div class="row" style="padding-right:15%; padding-left:15%;">
      <div class="col-md-8">
        <h4>Agregar Usuario</h4>
      </div>
      <div class="col-md-4">
        <a routerLink="/usuarios" class="btn btn-dark btn-block">Regresar al Inicio</a>
      </div>
      <div class="col-md-12" style="padding-top:5%;">
        <div class="card">
          <div class="card-header">
            <h5>Por favor diligencie este formulario para crear un usuario.</h5>
          </div>
          <div class="card-body">
            <form #usuarioForm="ngForm" (ngSubmit)="agregar(usuarioForm)">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombre">Nombre del usuario</label>
                  <input type="text"
                        name="nombre"
                        class="form-control"
                        #nombre="ngModel"
                        [(ngModel)]="usuario.Nombre"
                        [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                        required minlength="2">
                  <div [hidden]="!nombre.errors?.required" class="invalid-feedback">Nombre requerido</div>
                  <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">Debe contener al menos 2 caracteres</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="apellido">Apellido del usuario</label>
                  <input type="text"
                        name="apellido"
                        class="form-control"
                        #apellido="ngModel"
                        [(ngModel)]="usuario.Apellido"
                        [ngClass]="{'is-invalid': apellido.errors && apellido.touched}"
                        required minlength="2">
                  <div [hidden]="!apellido.errors?.required" class="invalid-feedback">Apellido requerido</div>
                  <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">Debe contener al menos 2 caracteres</div>
                </div>
                <div class="form-gruop col-md-3">
                  <label for="tipoDocumento">Tipo de documento</label>
                  <select name="tipoDocumento" class="form-control" #tipoDocumento="ngModel" [(ngModel)]="usuario.TipoDocumento">
                    <option selected>CC</option>
                    <option>CE</option>
                    <option>TI</option>
                  </select>
                </div>
                <div class="form-gruop col-md-5">
                  <label for="numeroDocumento">Numero de documento</label>
                  <input type="text"
                        name="numeroDocumento"
                        class="form-control"
                        #numeroDocumento="ngModel"
                        [(ngModel)]="usuario.NumeroDocumento"
                        [ngClass]="{'is-invalid': numeroDocumento.errors && numeroDocumento.touched}"
                        required minlength="10">
                  <div [hidden]="!numeroDocumento.errors?.required" class="invalid-feedback">Numero de documento requerido</div>
                  <div [hidden]="!numeroDocumento.errors?.minlength" class="invalid-feedback">Debe contener al menos 10 caracteres</div>
                </div>
                <div class="form-gruop col-md-4">
                  <label for="lugarExpedicion">Lugar de expedición</label>
                  <input type="text"
                        name="lugarExpedicion"
                        class="form-control"
                        #lugarExpedicion="ngModel"
                        [(ngModel)]="usuario.LugarExpedicion"
                        [ngClass]="{'is-invalid': lugarExpedicion.errors && lugarExpedicion.touched}"
                        required minlength="1">
                  <div [hidden]="!lugarExpedicion.errors?.required" class="invalid-feedback">Lugar de expedición requerido</div>
                  <div [hidden]="!lugarExpedicion.errors?.minlength" class="invalid-feedback">Debe contener al menos 2 caracteres</div>
                </div>
                <div class="form-gruop col-md-6">
                  <label for="correoElectronico">Escriba el correo electronico del usuario</label>
                  <input type="email"
                        name="correoElectronico"
                        class="form-control"
                        #correoElectronico="ngModel"
                        [(ngModel)]="usuario.CorreoElectronico"
                        [ngClass]="{'is-invalid': correoElectronico.errors && correoElectronico.touched}"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        required minlength="4">
                  <div [hidden]="!correoElectronico.errors?.required" class="invalid-feedback">Correo electronico requerido</div>
                  <div [hidden]="!correoElectronico.errors?.minlength" class="invalid-feedback">Debe contener al menos 4 caracteres</div>
                </div>
                <div class="form-gruop col-md-6">
                  <label for="clave">Contraseña del usuario</label>
                  <input type="text"
                        name="clave"
                        class="form-control"
                        #clave="ngModel"
                        [(ngModel)]="usuario.Clave"
                        [ngClass]="{'is-invalid': clave.errors && clave.touched}"
                        required minlength="8">
                  <div [hidden]="!clave.errors?.required" class="invalid-feedback">Clave requerida</div>
                  <div [hidden]="!clave.errors?.minlength" class="invalid-feedback">Debe contener al menos 8 caracteres</div>
                </div>
                <div class="form-group col-md-12">
                  <app-avatar-selector (avatarSelected)="usuario.Icono_url = $event"></app-avatar-selector>
                  <p *ngIf="( usuario.Icono_url=='')">Ningun Avatar seleccionado</p>
                  <p *ngIf="( usuario.Icono_url=='av-1.png')">Avatar 1 seleccionado</p>
                  <p *ngIf="( usuario.Icono_url=='av-2.png')">Avatar 2 seleccionado</p>
                  <p *ngIf="( usuario.Icono_url=='av-3.png')">Avatar 3 seleccionado</p>
                  <p *ngIf="( usuario.Icono_url=='av-4.png')">Avatar 4 seleccionado</p>
                  <input type="hidden" name="icono_url" [(ngModel)]="usuario.Icono_url">
                </div>
                <div class="form-group col-md-6">
                  <label for="VerificacionCuenta">Verificacion en la Cuenta del usuario</label>
                  <select name="VerificacionCuenta"
                        class="form-control"
                        #VerificacionCuenta="ngModel"
                        [(ngModel)]="usuario.VerificacionCuenta">
                    <option value="true"selected>Activado</option>
                    <option value="false">Desactivado</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for=" EstadoCuenta">Estado de cuenta</label>
                  <select name="EstadoCuenta"
                        class="form-control"
                        #EstadoCuenta="ngModel"
                        [(ngModel)]="usuario.EstadoCuenta">
                    <option value="true"selected>Activado</option>
                    <option value="false">Desactivado</option>
                  </select>
                </div>
                <div class="form-group col-md-12">
                  <label for="RolId">Seleccione el rol del ususario</label>
                  <select name="RolId" class="form-control" #RolId="ngModel" [(ngModel)]="usuario.RolId">
                    <option value="2" selected>Usuario común</option>
                    <option value="3">Empleado</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success btn-block">Agregar Usuario</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
