<div class="row justify-content-center" *ngIf="descripcion">
  <!-- Descripcion Parque -->
  <div class="col-md-6 col-sm-12">
    <h4>Descripción Parque</h4>
    <p style="text-align: justify;">
      {{ descripcion['descripcion'] }}
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div id="carouselDescripcion" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
              *ngFor="let img of descripcion.listaImagenesUrl; let i = index;">
          <img [src]="img | imgServer: 'info'" width="600" height="300">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselDescripcion" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselDescripcion" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<hr>

<div class="row justify-content-center" *ngIf="reseniaHistorica">
    <!-- Reseña Histórica Parque -->
    <div class="col-md-6 col-sm-12">
      <div id="carouselReseniaHist" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
                *ngFor="let img of reseniaHistorica.listaImagenesUrl; let i = index;">
            <img [src]="img | imgServer: 'info'"  width="600" height="300" >
            <!--class="img-responsive" [alt]="img"-->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselReseniaHist" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselReseniaHist" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Reseña Histórica</h4>
      <p style="text-align: justify;">
        {{ reseniaHistorica['descripcion'] }}
      </p>
    </div>

</div>
<hr>
<div class="row" *ngIf="horario">
  <div class="col-md-6 " style="text-align: center;">
    <h4>Horario de atención</h4>
    <hr>
    <p style="text-align: justify;">
      {{ horario['descripcion'] }}
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="//www.youtube.com/embed/8IrjB_NlL4g" style="width:90%;height:300px;" allowfullscreen="true"></iframe>
  </div>
</div>
<hr>
 <h4 class="d-block text-center">Noticias</h4>
      <hr>
        <br>

<div *ngIf="Noticias && (Noticias.length==0)">
  <h6 >No existen noticias en este momento</h6>
</div>
<div *ngIf="Noticias && (Noticias.length>0)">
  <div class="container"  >
     <div class="col-md-12">
    <div class="row row-cols-1 row-cols-md-3">
     
                <div class="col-sm-4 " *ngFor="let noticia of Noticias ; let i=index">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                       <div style=" width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
     
                        <app-carousel-images [imagenes]="noticia.imagenesUrl | imgUrlToArray" tipo="noticia"></app-carousel-images>
 
                       
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                  
                                      {{noticia.titulo}}
                              
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                   {{noticia.descripcion}}
                                   
                                </p>
                            </div>

                        </div>

                    </div>
                   

                </div>


    </div>
  </div>
</div>

       
</div>