<div class="row justify-content-center" *ngIf="descripcion">
  <!-- Descripcion Parque -->
  <div class="col-md-6 col-sm-12">
    <h4>Descripción Parque</h4>
    <p>
      {{ descripcion['descripcion'] }}
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div id="carouselDescripcion" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
              *ngFor="let img of descripcion.listaImagenesUrl; let i = index;">
          <img [src]="img | imgServer: 'info'" width="500" height="300">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselDescripcion" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselDescripcion" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<hr>
<div class="row justify-content-center" *ngIf="reseniaHistorica">
    <!-- Reseña Histórica Parque -->
    <div class="col-md-6 col-sm-12">
      <div id="carouselReseniaHist" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
                *ngFor="let img of reseniaHistorica.listaImagenesUrl; let i = index;">
            <img [src]="img | imgServer: 'info'"  width="500" height="300" >
            <!--class="img-responsive" [alt]="img"-->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselReseniaHist" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselReseniaHist" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Reseña Histórica</h4>
      <p>
        {{ reseniaHistorica['descripcion'] }}
      </p>
    </div>

</div>
<hr>

<div align="center">
  <div class="col-md-6 " style="text-align: center;">
    <h4>Horario de atención</h4>
    <hr>
    <p style="text-align: left;">
      {{ horario['descripcion'] }}
    </p>
  </div>
</div>

   
<!--</div>-->

<hr>

    <div class="container">
      <h4 class="d-block text-center">Noticias</h4>
      <hr>
        <br>
        
              <div class="row ">
                <div class="col-sm-4 ">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                        <div style=" width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
           <img class="pick-avatar" class="card-img-top" width="400" height="200"
                 src={{rutaImagen}}{{noticia1.imagenesUrl}}
                       > 
                        <!-- <div class="img imgContainer" width="100" height="200"style="
                             background: url({{rutaImagen}}{{noticia1.imagenesUrl}});
                             background-size: cover!important;
                             background-repeat: no-repeat!important;
                             background-position: center center!important;
                             width: 90%;
                             height: 100px;
                             border-bottom: none !important;
                             ">
                            <img class="objectCover absolute absolute--right absolute--left absolute--top absolute--bottom full-size" src="assets/imagenes/1.jpg" style="border-bottom: none !important;">-->
                            <!--<div style="position: absolute;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen;">Noticias</div>-->
                            <!--                            <div class="fecha-noticias">
                                
                            </div>
                        </div>-->
                                                <!--<div class="fecha-noticias">
                            
                                                    </div>-->
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                    <!--<a href="/index.php?idcategoria=485158#" class="wrap8" style="color: black !important;">-->
                                      {{noticia1.titulo}}
                                    <!--</a>-->
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia1.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                   {{noticia1.descripcion}}
                                   
                                </p>
                            </div>

                        </div>

                    </div>
                   

                </div>
                      <div class="col-sm-4 col-12">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                        <div style=" width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
                                   <img class="pick-avatar" class="card-img-top" width="400" height="200"
                 src={{rutaImagen}}{{noticia2.imagenesUrl}}
                       > 
                                                <!--<div class="fecha-noticias">
                            
                                                    </div>-->
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                    <!--<a href="/index.php?idcategoria=485158#" class="wrap8" style="color: black !important;">-->
                                     
                                    {{noticia2.titulo}}
                                    <!--</a>-->
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia2.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                      {{noticia2.descripcion}}
                                  
                                </p>
                            </div>

                        </div>

                    </div>
                   



               </div>
                <div class="col-sm-4 col-12">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                        <div style="width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
                                     <img class="pick-avatar" class="card-img-top"  width="400" height="200"
                 src={{rutaImagen}}{{noticia3.imagenesUrl}}
                       > 
                                                <!--<div class="fecha-noticias">
                            
                                                    </div>-->
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                    <!--<a href="/index.php?idcategoria=485158#" class="wrap8" style="color: black !important;">-->
                                    {{noticia3.titulo}}
                                    <!--</a>-->
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia3.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                  {{noticia3.descripcion}}
                                </p>
                            </div>

                        </div>

                    </div>
                   



               </div>
            
          
        </div>


<!--<div class="row justify-content-center">

<div class="row justify-content-center" *ngIf="horario">

  <div class="col-md-6 col-sm-12" style="text-align: center;">
    <h4>Horario de atención</h4>
    <p style="text-align: center;">
      {{ horario['descripcion'] }}
    </p>
  </div>
</div>-->

