<div class="row justify-content-center" *ngIf="descripcion">
  <!-- Descripcion Parque -->
  <div class="col-md-6 col-sm-12">
    <h4>Descripción Parque</h4>
    <p>
      {{ descripcion['descripcion'] }}
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div id="carouselDescripcion" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
              *ngFor="let img of descripcion.listaImagenesUrl; let i = index;">
          <img [src]="img | imgServer: 'info'" width="600" height="300">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselDescripcion" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselDescripcion" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<hr>

<div class="row justify-content-center" *ngIf="reseniaHistorica">
    <!-- Reseña Histórica Parque -->
    <div class="col-md-6 col-sm-12">
      <div id="carouselReseniaHist" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
                *ngFor="let img of reseniaHistorica.listaImagenesUrl; let i = index;">
            <img [src]="img | imgServer: 'info'"  width="600" height="300" >
            <!--class="img-responsive" [alt]="img"-->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselReseniaHist" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselReseniaHist" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Reseña Histórica</h4>
      <p>
        {{ reseniaHistorica['descripcion'] }}
      </p>
    </div>

</div>
<hr>
<div class="row">
  <div class="col-md-6 " style="text-align: center;">
    <h4>Horario de atención</h4>
    <hr>
    <p style="text-align: left;">
      {{ horario['descripcion'] }}
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="//www.youtube.com/embed/8IrjB_NlL4g" style="width:90%;height:300px;" allowfullscreen="true"></iframe>
  </div>
</div>



<hr>
<!--<div *ngIf="Noticias.length==0" >
  
  <h6>No existen noticias en este momento</h6>
</div>

<div *ngIf="Noticias.lenght>0">-->
   <!-- <h6>Si existen noticias en este momento</h6>-->
     <h4 class="d-block text-center">Noticias</h4>
      <hr>
        <br>
        <div class="container"  >
     <div class="col-md-12">
    <div class="row row-cols-1 row-cols-md-3">
     
                <div class="col-sm-4 " *ngFor="let noticia of Noticias ; let i=index">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                       <div style=" width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
          <!-- <img class="pick-avatar" class="card-img-top" width="400" height="200"
                 src={{rutaImagen}}{{noticia.imagenesUrl}}
                       >--> 
                          <div id="carouselNoticias" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{ 'active': i === 0 }" 
              *ngFor="let img of imagenes; let i = index;">
          <img [src]="img | imgServer: 'noticias'" width="400" height="200">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselNoticias" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselNoticias" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
                       
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                  
                                      {{noticia.titulo}}
                              
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                   {{noticia.descripcion}}
                                   
                                </p>
                            </div>

                        </div>

                    </div>
                   

                </div>


    </div>
  </div>
</div>

       
            
      
        
            
                <!--

                      <div class="col-sm-4 col-12">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                        <div style=" width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
                                   <img class="pick-avatar" class="card-img-top" width="400" height="200"
                 src={{rutaImagen}}{{noticia2.imagenesUrl}}
                       > 
                                            
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                             
                                     
                                    {{noticia2.titulo}}
                                  
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia2.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                      {{noticia2.descripcion}}
                                  
                                </p>
                            </div>

                        </div>

                    </div>
                   



               </div>
                <div class="col-sm-4 col-12">
                   
                    <div class="box-noticias box-noticias-bicentenario  alto_contraste" style="background-color: transparent !important;">
                        <div style="width:100;bottom: 290px;color: #fff;padding: 1px 10px;opacity: 1;font-weight: bold;background-color: forestgreen; text-align:center">Noticias</div>
                                     <img class="pick-avatar" class="card-img-top"  width="400" height="200"
                 src={{rutaImagen}}{{noticia3.imagenesUrl}}
                       > 
                                                
                        <div class="content-noticia" style="background-color: transparent !important;">
                            <div class="nombre-noticia alto_contraste">
                                <br>
                                <p style="text-align: justify;font-size: 1em;">
                                
                                    {{noticia3.titulo}}
                                    
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{noticia3.fechaPublicacion}}
                                </p>
                                <p style="text-align: justify;font-size: 0.7em;" class="wrap8">
                                  {{noticia3.descripcion}}
                                </p>
                            </div>

                        </div>

                    </div>
                   



               </div>
            
          
        </div>-->

<!--</div>-->

    
     