 <div class="row">
        <div class="col-md-3">
          <a routerLink="/preguntas-frecuentes" style="width:200; "class="btn btn-dark text-white btn-block">
             <i class="fas fa-arrow-circle-left"></i> Regresar al Inicio
          </a>
        </div>
      </div>

<hr>
<div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card">
            <div class="card-header">
                <h4>En este formulario podra agregar una nueva pregunta frecuente</h4>
            </div>
<form #preguntaForm="ngForm" (ngSubmit)="agregar(preguntaForm)"> 
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre"> <i class="fa fa-pencil-alt"></i> Ingrese la pregunta</label>
              <textarea class="textinput1" name="nombre"  rows="2" cols="38" [(ngModel)]="pregunta.nombre"></textarea>
            <input 
              type="hidden" 
              name="nombre" 
              class="form-control"
              #nombre="ngModel"
              [(ngModel)]="pregunta.nombre"
              >
             
          </div>
           <hr>
          <div class="form-group">
            <br>
            
            <hr>
            <label for="apellido">  <i class="fa fa-pencil-alt"></i>  Ingrese la descripcion de la pregunta  </label>
            <div align="center">
                 <textarea  class="textinput" name="descripcion" rows="3" cols="53" [(ngModel)]="pregunta.descripcion">  </textarea>
            <input 
              type="hidden" 
              name="descripcion" 
              class="form-control"
              #descripcion="ngModel"
              [(ngModel)]="pregunta.descripcion"
              >
            </div>
           
          
          </div>

          
        
        </div>

      
      <br>

 <br>
          <div align="center">
              <hr>
          <button type="submit" style="width:150px;"class="btn btn-primary" > <i class="fas fa-plus"></i> Agregar </button>
          </div>
      

      </form>
          </div>
        </div>
      </div>
</div>

