<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
           Agregar Pregunta
        </h1>
      </div>
    </div>
  </div>
</header>




<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/preguntas-frecuentes" class="btn btn-dark text-white btn-block">
          <i class="fas fa-arrow-left"></i> Regresar al Inicio
          </a>
        </div>
      </div>
    </div>

  </section>
<div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card">
            <div class="card-header">
                <h4>En este formulario podra agregar una nueva pregunta frecuente</h4>
            </div>
<form #preguntaForm="ngForm" (ngSubmit)="agregar(preguntaForm)"> 
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre"> <i class="fa fa-pencil-alt"></i> Ingrese la pregunta</label>
              <textarea name="nombre" rows="2" cols="53" [(ngModel)]="pregunta.nombre"></textarea>
            <input 
              type="hidden" 
              name="nombre" 
              class="form-control"
              #nombre="ngModel"
              [(ngModel)]="pregunta.nombre"
              >
             
          </div>
           <hr>
          <div class="form-group">
            <label for="apellido"> <i class="fa fa-pencil-alt"></i> Ingrese la descripcion de la pregunta</label>
            <div align="center">
                 <textarea name="descripcion" rows="4" cols="53" [(ngModel)]="pregunta.descripcion"></textarea>
            <input 
              type="hidden" 
              name="descripcion" 
              class="form-control"
              #descripcion="ngModel"
              [(ngModel)]="pregunta.descripcion"
              >
            </div>
           
          
          </div>

          
        
        </div>

      
          <div align="center">
          <button type="submit" style="width:150px;"class="btn btn-primary" ><i class="fas fa-plus"></i> Agregar </button>
          </div>
      

      </form>
          </div>
        </div>
      </div>
</div>

