

<div class="col-md-6">
  <div class="modal fade" id="All">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h6 class="modal-title">reservas de cabañas</h6>
        <button class="close" data-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>
      <div class="card">
            <div *ngIf="(reservaCabanasAll.length>0)">
      
           
                  <table class="table table-bordered table-striped" >
              <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha de la reserva</th>
      <th scope="col">Valor de la cabaña</th>
      <th scope="col">Id de la cabaña</th>
      <th scope="col">Nombre de la cabaña</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let reserva of reservaCabanasAll ; let i = index ">
      <td>  {{i}}</td>
      <td>  {{reserva.FechaReserva}}</td>
      <td>$ {{reserva.ValorTotal}} </td>
        <td>  {{reserva.UCabanaId}}</td>
      <td>  {{reserva.UCabana.Nombre}}</td>
    </tr>
    
   
  </tbody>
</table>
          
              
            </div>
            <div *ngIf="(reservaCabanasAll.length==0)">
              <h6>Lo sentimos no existen preguntas frecuentes en este momento</h6>
            </div>
           

    </div>
    

    </div>
  </div>
</div>
</div>

<div class="col-md-6">
  <div class="modal fade" id="DAY">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h6 class="modal-title">reservas de cabañas</h6>
        <button class="close" data-dismiss="modal" #botonCerrar>
          <span>&times;</span>
        </button>
      </div>
    
            <div *ngIf="(reservaCabanas.length>0)">
             
               <table class="table table-bordered table-striped" >
              <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha de la reserva</th>
      <th scope="col">Valor de la cabaña</th>
       <th scope="col">Id de la cabaña</th>
      <th scope="col">Nombre de la cabaña</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reserva of reservaCabanas ; let i = index ">
      <td>  {{i}}</td>
      <td>  {{reserva.FechaReserva}}</td>
      <td>$ {{reserva.ValorTotal}}</td>
       <td>  {{reserva.UCabanaId}}</td>
      <td>  {{reserva.UCabana.Nombre}}</td>
    </tr>
    
   
  </tbody>
</table>
              
            </div>
            <div *ngIf="(reservaCabanas.length==0)">
                <div class="card">
                  <h6>Lo sentimos no existen reservas de cabañas el dia de hoy</h6>
                </div>
              
            </div>
           

    
    

    </div>
  </div>
</div>
</div>




  	<div class="container">
    
    		<div *ngIf="bandera==null">
          <div class="row">
            <div class="col-md-4">
             <div align="center">
            <h3>
              <i class="fas fa-ticket-alt"></i> {{titulo}}
              </h3>
            </div>
          </div>
              <div class="col-md-3">
        <a href="#" class="btn btn-dark btn-block"  style="width:200;" data-toggle="modal" data-target="#All">
          <i class="fas fa-home"></i> Reservas de cabañas
        </a>
      </div>
          <div class="col-md-4">
        <a href="#" class="btn btn-dark btn-block"   style="width:250;" data-toggle="modal" data-target="#DAY">
          <i class="fas fa-home"></i> Reservas de cabañas del dia 
        </a>
      </div>
        
          </div>
      


        </div>
    			
          <div *ngIf="bandera!=null">
         <div class="row">
           
             <div class="col-md-3">
          <form (submit)="Inicio()">
                   <button type="submit" class="btn btn-info ">
                   <h4><i class="fas fa-arrow-circle-left"></i> Volver al inicio</h4>
                     </button>

             </form>
                  
        </div>
        
        <div class="col-md-8">
             <div align="left">
              <h3>
              <i class="fas fa-ticket-alt "></i> {{titulo}}
              </h3>
            </div>
          </div>
         </div>
          


        </div>
    

       </div>
<hr>

<br>
<div *ngIf="bandera==null">


    <div class="container">

    
        <div align="center">
          <div class="row">
           <div class="col-md-1">
             
           </div>
          <div class="col-md-4 ">
            <div class="card" style="width: 370">
          <br>
                <img [src]="'assets/imagenes/UR.png'" style="width: 100, height:200" alt="" >
      <div class="card-body">
        <b class="text-muted">Vender tickets a clientes que se encuentren registrados en el sistema </b>
      </div>
      <div class="card-footer">
      
             <form (submit)="DatosClienteRegistrado()">
                <div align="center">
                   <button type="submit"  class="btn btn-info ">
                   <h4><i class="fas fa-user-check"></i> Clientes Registrados</h4>
                     </button>
                   </div>
             </form>
      </div>
            
                  
            
            </div>
          </div>
      
<div class="col-md-2">
              
            </div>
          <div class="col-md-4">
            <div class="card">
             <div class="card" style="width: 370">    
               <br>  
                <img [src]="'assets/imagenes/UN.png'" style="width: 100, height:200" alt="" >
                    <div class="card-body">
                    <b class="text-muted">Vender tickets a clientes que  no se encuentren registrados en el sistema </b>
                    </div>  
                    <div class="card-footer">
                        <form (submit)="DatosClienteNoRegistrado()">
                          <div align="center">
                            <button type="submit"class="btn btn-danger ">
                            <h4><i class="fas fa-user-times "></i> Clientes No registrados</h4>
                            </button>
                          </div>
                       </form>
                    </div>                                   
                  </div>

            </div>
          </div>
 
        </div>       
      </div>
        
 
    
      
  

  
</div>
  
	

</div>
<div *ngIf="bandera==false">
	<div align="center">
      <div class="col-md-6" >
        <div class="card">
          <div class="card-header" >
            <h4>Formulario de Venta</h4> 
          </div>
          <div class="card-body">
           <form #VentaForm="ngForm" (ngSubmit)="RealizarVenta(VentaForm)"> 
        <div class="modal-body">
          <div class="row">
           <div class="col-md-6">
              <div class="form-group">
                <label for="idTicket"><i class="fas fa-ticket-alt"></i> Tipo de Ticket</label>
                <select name="idTicket" style="width:200" class="form-control" #idTicket="ngModel" [(ngModel)]="ticket.idTicket">
                                            <option value="{{opcion.Id}}" *ngFor="let opcion of ticktes">{{opcion.Nombre}}</option>
                                          
                                             </select>
                         
                
                 
              </div>
           </div>

           <div class="col-md-6">
            <label class="fas fa-dollar-sign">
               Precio Unitario
            </label>
            <br>

             <label><i class=""></i>  ${{ticktes[ticket.idTicket].Precio}}</label>
           </div>
         </div>
         <hr>
         <div class="row">
          <div class="col-md-6">
               <div class="form-group">
                <label for="NumeroDocumento"><i class="fas fa-pencil-alt"></i> Numero de Documento</label>
                <input type="number" name="NumeroDocumento" class="form-control" #NumeroDocumento="ngModel" [(ngModel)]="ticket.NumeroDocumento"
                 >
               
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Cantidad"><i class="fas fa-list-ol"></i> Cantidad de Tickets </label>
                <input type="number" name="Cantidad" class="form-control" #Cantidad="ngModel" [(ngModel)]="ticket.Cantidad"
                 >
              </div>
               
            </div>
         </div>
              
          </div>
          <hr>
          <div align="center">
              
          <button type="submit" style="width:200px; " class="btn btn-primary" > <i class="fas fa-hand-holding-usd"></i> Realizar Venta</button>
 
      

          </div>
         
      </form>
    
    
<!--<div id="content">
    <ngx-qrcode qrc-element-type="url" [qrc-value]="letsboot" ></ngx-qrcode>
    <img src="assets/imagenes/1.jpg">
</div>

<div id="elementH"></div>-->
    
         </div>
         </div>
     </div>
</div>
</div>
<div *ngIf="bandera==true">
<div align="center">
      <div class="col-md-6" >
        <div class="card">
          <div class="card-header">
            <h4>Formulario de Venta</h4>
          </div>
          <div class="card-body">
           <form #VentaForm="ngForm" (ngSubmit)="RealizarVenta(VentaForm)"> 
        <div class="modal-body">
          
         <div class="row">
           
          <div class="col-md-6">
              <div class="form-group">
                <label for="idTicket"><i class="fas fa-ticket-alt"></i> Tipo de Ticket</label>
                <select 
                  name="idTicket" 
                  style="width:200" 
                  class="form-control" 
                  #idTicket="ngModel" 
                  [(ngModel)]="ticket.idTicket">
                  <option 
                    value="{{opcion.Id}}" 
                    *ngFor="let opcion of ticktes">{{opcion.Nombre}}
                  </option>                                          
                </select>                                                          
              </div>
           </div>

           <div class="col-md-6">
            <label class="fas fa-dollar-sign">              
               Precio Unitario
              </label>
            <br>            
             <label><i class="margin-top:70px "></i>  ${{ticktes[ticket.idTicket].Precio}}</label>
           </div>
         </div>
         <hr>
         <div class="row">
          <div class="col-md-6">
             <div class="form-group">
              <label for="UUsuario"><i class="fas fa-pencil-alt"></i> E-mail del Usuario</label>
              <input type="text" name="UUsuario" class="form-control" #UUsuario="ngModel" [(ngModel)]="ticket.UUsuario"
               >
       
            </div>
          </div>
           <div class="col-md-6">
             <div class="form-group">
              <label for="Cantidad"><i class="fas fa-list-ol"></i> Cantidad de Tickets</label>
              <input type="number" name="Cantidad" class="form-control" #Cantidad="ngModel" [(ngModel)]="ticket.Cantidad"
               >
       
            </div>
          </div>

        </div>
             

             
        </div>
          <hr>
        <div align="center">
              
          <button type="submit" style="width:200px; " class="btn btn-primary" > <i class="fas fa-hand-holding-usd"></i> Realizar Venta</button>

      

        </div>
         
      </form>
 
         </div>
         </div>
     </div>
</div>

</div>

<br>
