<div class="row justify-content-center">
    <div class="col-md-10 col-sm-12">
        <button class="btn btn-sm btn-primary" routerLink="/pictogramas">
            <i class="fas fa-arrow-left"></i>
        </button>
        <form (ngSubmit)="onSubmit()" [formGroup]="formEditPic" *ngIf="formEditPic">
            <div class="card shadow" @basicAnimate>
                <div class="card-header text-center">
                    <b class="text-muted">EDITAR PICTOGRAMA</b>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center" *ngIf="!siguiente">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <b class="text-muted">Nombre</b>
                                <input type="text" class="form-control" [ngClass]="getValidationClass('Nombre')"
                                 formControlName="Nombre">
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="nombre.errors?.required">
                                      El nombre es requerido
                                  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Descripción</b>
                                <!-- <input type="text" class="form-control" [ngClass]="getValidationClass('Descripcion')" 
                                formControlName="Descripcion"> -->
                                <textarea formControlName="Descripcion" class="form-control" 
                                          [ngClass]="getValidationClass('Descripcion')"></textarea>
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="descripcion.errors?.required">
                                      La descripción es requerida
                                  </span>
                                </div>
                            </div>
                            <app-images-upload (changeFiles)="onChangeFile($event)"></app-images-upload>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <app-carousel-images [imagenes]="pictogram.ImagenesUrl | imgUrlToArray" tipo="picto"></app-carousel-images>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="siguiente">
                        <div class="col-10 mt-2">
                            <app-select-coordinates [pictograma]="pictogram" height="350px"
                                (selectCoordinate)="coordenada = $event"></app-select-coordinates>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button *ngIf="!siguiente" [disabled]="formEditPic.invalid" (click)="siguiente = true" class="btn btn-sm btn-primary">Siguiente</button>
                    <button *ngIf="siguiente" class="btn btn-sm btn-primary mr-3" (click)="siguiente = false">Anterior</button>
                    <button *ngIf="siguiente" class="btn btn-sm btn-success" type="submit" type="submit">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>