<div class="row justify-content-center" *ngIf="usuario">
    <div class="col-md-10 col-sm-12">
        <button class="btn btm-sm btn-primary" routerLink="/usuarios-pendientes">
            <i class="fas fa-arrow-left"></i>
        </button>
        <div class="card shadow" style="background-color: #ebeae8;">
            <div class="card-header text-center">
                <b class="text-muted">VERIFICACIÓN DE USUARIO</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12" *ngIf="usuario.Imagen_documento !== null">
                        <app-carousel-images [imagenes]="[usuario.Imagen_documento]" tipo="identificacion"></app-carousel-images>
                    </div>
                    <div class="col-md-6 col-sm-10" *ngIf="usuario.Imagen_documento === null">
                        <img src="/assets/imagenes/no-image.png" width="100%" />
                    </div>
                    <div class="col-md-6 col-sm-12" *ngIf="usuario.Imagen_documento !== null">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <!-- <div class="form-group text-center">
                                <b class="text-muted">{{ usuario.Nombre }} {{ usuario.Apellido }}</b>
                            </div> -->
                            <div class="form-group">
                                <b class="text-muted">Número documento</b>
                                <input type="number" class="form-control" [ngClass]="getValidationClass('NumeroDocumento')"
                                formControlName="NumeroDocumento">
                               <div class="valid-feedback">Ok!</div>
                               <div class="invalid-feedback">
                                 <span *ngIf="numDocumento.errors?.required">
                                     El número de documento es requerido
                                 </span>
                               </div>
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Lugar expedición</b>
                                <input type="text" class="form-control" [ngClass]="getValidationClass('LugarExpedicion')"
                                formControlName="LugarExpedicion">
                               <div class="valid-feedback">Ok!</div>
                               <div class="invalid-feedback">
                                 <span *ngIf="lugarExp.errors?.required">
                                     El lugar de expedición es requerido
                                 </span>
                               </div>
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Fecha Nacimiento</b>
                                <input type="date" class="form-control" [ngClass]="getValidationClass('FechaNacimiento')"
                                formControlName="FechaNacimiento">
                               <div class="valid-feedback">Ok!</div>
                               <div class="invalid-feedback">
                                 <span *ngIf="fechaNac.errors?.required">
                                     La fecha de nacimiento es requerida
                                 </span>
                               </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-sm-10">
                                    <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-sm btn-primary">
                                        Verificar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-6 col-sm-12" *ngIf="usuario.Imagen_documento === null">
                        <table class="table table-sm">
                            <tr>
                                <td><b class="text-muted">N. documento</b></td>
                                <td>{{ usuario.NumeroDocumento }}</td>
                            </tr>
                            <tr>
                                <td><b class="text-muted">Nombre</b></td>
                                <td>{{ usuario.Nombre }} {{ usuario.Apellido }}</td>
                            </tr>
                            <tr>
                                <td><b class="text-muted">Correo</b></td>
                                <td>
                                    {{ usuario.CorreoElectronico }}
                                </td>
                            </tr>
                        </table>
                        <div class="container text-center">
                            <i class="fas fa-times fa-4x text-danger"></i>
                            <hr>
                            <b class="text-danger">
                                El usuario todavía no ha subido la foto del documento
                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>