<div class="row justify-content-center mt-2">
    <div class="col-md-8 col-sm-12" *ngIf="noticia">
        <button class="btn btm-sm btn-primary" routerLink="/noticias">
            <i class="fas fa-arrow-left"></i>
        </button>
        <form (ngSubmit)="onSubmit()" [formGroup]="formEditNoticia">
            <div class="card shadow">
                <div class="card-header text-center">
                    <b class="text-muted">EDITAR NOTICIA</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <b class="text-muted">Titulo</b>
                                <input type="text" class="form-control" 
                                [ngClass]="getValidationClass('titulo')"
                                 formControlName="titulo">
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="titulo.errors?.required">
                                      El titulo es requerido
                                  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Descripción</b>
                                <input type="text" class="form-control" 
                                [ngClass]="getValidationClass('descripcion')" 
                                formControlName="descripcion">
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="descripcion.errors?.required">
                                      La descripción es requerida
                                  </span>
                                </div>
                            </div>
                            <app-images-upload (changeFiles)="onChangeFile($event)"></app-images-upload>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <app-carousel-images [imagenes]="noticia.imagenesUrl | imgUrlToArray" tipo="noticia"></app-carousel-images>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer text-center">
                    <button type="submit" [disabled]="formEditNoticia.invalid"
                     class="btn btn-success">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>