<b class="text-muted d-block text-center">GESTIÓN DE REPORTES</b>
<hr>
<div class="row justify-content-center mt-5">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="background-color: #ffcd6a;">
            <div class="card-body text-center bg-dark">
                <i class="fas fa-ticket-alt fa-7x" style="color: #fff;"></i>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-dark" routerLink="/reportes/tickets">Reserva Tickets</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow" style="background-color: #ebeae8;">
            <div class="card-body text-center bg-dark">
                <i class="fas fa-home fa-7x" style="color: #fff;"></i>
            </div>
            <div class="card-footer">
                <button class="btn btn-block btn-dark" routerLink="/reportes/cabanas">Reserva Cabanas</button>
            </div>
        </div>
    </div>
</div>