<section class="bg-transparent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center" style="padding-bottom:2%;">
        <h1>Gestion de usuarios</h1>
      </div>
      <div class="col-md-12 text-center" style="padding-bottom:2%;">
        <h4>Total de usuario: {{usuarios?.length}}</h4>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <input
                type="text"
                class="form-control"
                name="filterPost"
                placeholder="Buscar usuario por numero de documento ..."
                [(ngModel)]="filterPost">
        </div>
      </div>
      <div class="col-md-2">
        <a class="btn btn-success btn-block" href="usuarios/agregar" role="button"><i class="fas fa-plus"></i> Nuevo Usuario</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-danger btn-block" href="#" role="button"><i class="fas fa-user-times"></i> Usuarios Desactivados</a>
      </div>
      <div class="col-md-3">
        <a class="btn btn-dark btn-block" href="usuarios/deshabilitados" role="button"><i class="fas fa-user-slash"></i> Usuario Deshabilitados</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4" *ngFor="let usuario of usuarios  |filter:filterPost | paginate:{itemsPerPage :6 , currentPage:PageActual}  ; index as i">
            <div class="card h-100">
              <div class="card-header text-center">
                <h4>Usuario {{i+1}}</h4>
              </div>
              <div class="card-body container">
                <div class="row" style="padding: 3%;">
                  <div class="col-md-8">
                    <p class="card-title"><b>Nombre:</b> {{usuario.Nombre}}</p>
                    <p class="card-title"><b>Apellido:</b> {{usuario.Apellido}}</p>
                  </div>
                  <div class="col-md-4">
                    <img src="http://piedrasdeltunjo.tk/images/getImage?tipo=avatar&nombre={{usuario.Icono_url}}" class="card-img-top" width="50%">
                  </div>
                  <div class="col-md-12" style="padding-top: 1%;">
                    <p class="card-text"><b>Tipo de Documento: </b>{{usuario.TipoDocumento}}</p>
                    <p class="card-text"><b>Numero de Documento: </b>{{usuario.NumeroDocumento}}</p>
                    <p class="card-text"><b>Lugar de Expedicion: </b>{{usuario.LugarExpedicion}}</p>
                    <p class="card-text"><b>Correo: </b>{{usuario.CorreoElectronico}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <a class="btn btn-primary btn-block" align="center" routerLink="editar/{{usuario.Id}}"><i class="fas fa-user-edit"></i> Editar</a>
                  </div>
                  <div class="col-md-7">
                    <form (submit)="deshabilitar(usuario.Id)">
                      <button type="submit" class="btn btn-warning text-white btn-block"><i class="fas fa-user-times"></i> Deshabilitar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" align="center">
        <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>
