<!--
	AUTOR: GABRIEL ZAPATA
	COMPONENTE HTML QUE CONTIENE LA VISTA INICIAL DE LA GESTION DE NOTICIAS
	FECHA 24/03/2020
-->
<section class="bg-transparent" id="Noticias">
  <div class="container ">
    <div class="row">
      <div class="col-md-3 bg-transparent">
        <h4>Gestion de noticias</h4>
      </div>
      <div class="col-md-1">
        <h5>{{noticias?.length}}</h5>
      </div>
      <div class="col-md-5">
        <div class="form-group text-center">
          <input type="text" class="form-control" name="filtroNoticiasPost" placeholder="Escriba el encabezado.." [(ngModel)]="filtroNoticiasPost">
        </div>
      </div>
      <div class="col-md-3">
        <div class="text-center">
          <a class="btn btn-success btn-block" routerLink="agregar" role="button"><i class="fas fa-plus"></i> Agregar</a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4" *ngFor="let not of noticias | filtroNoticias:filtroNoticiasPost | paginate:{itemsPerPage :6 , currentPage:PageActual}  ; index as i">
            <div class="card h-100">
              <div class="card-header">
                <h4>Noticia {{i+1}}</h4>
              </div>
              <div class="car-body container">
                <p style="text-align: justify;font-size: 0.7em;text-transform: capitalize;" class="wrap8">
                  <i class="fa fa-calendar"></i>&nbsp;&nbsp; {{not.fechaPublicacion}}
                </p>
                <img src="http://piedrasdeltunjo.tk/images/getImage?tipo=noticias&nombre={{not.imagenesUrl}}" class="card-img-top" width="100" height="200">
                <p>
                  <b>{{not.titulo}}</b><br>
                  {{not.descripcion}}
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-info btn-block" routerLink="editar/{{not.id}}">Editar</a>
                  </div>
                  <div class="col-md-6">
                    <form (submit)="eliminar(not.id)">
                      <button type="submit" class="btn btn-danger btn-block">
                        Eliminar
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
