.titulo{
    position: relative;
    padding: 7px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    /*border:1.5px solid midnightblue;*/
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;

}

.bordetitulo{
    position: relative;
    text-align: center;
    background-color: gainsboro ;
    text-transform: uppercase;
    border-color: gray; 
    border-width: 2px;    
    border-style: solid;
    width: 40%;   
    padding-top: 5px;
}

.letratitulo{
    font-size: x-large;
    font: bolder;
    color: black;


}

.boton{
    -webkit-box-flex: 1;
    position: relative;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid darkturquoise;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .40s;
    transition: .40s;
    width: 10%;   
    font-weight: bold;
     
    

}
.boton:hover:after{
    left: 0%;
    width: 100%; 
   
      
}
.boton:hover{
   
    color: white;
    
}
.boton:after{
    position:absolute;
    -webkit-transition: .30s;
    transition: .30s;
    content: '';
    width: 0;
    top: 0;
    height: 100%;
    left: 0%;
    -webkit-transform: skewX(0 deg);
    transform: skewX( 0 deg);
    z-index: -1;
    background:  darkturquoise;
    
   
}

.letra{
    color: black;
}

.letra:hover{
    color: white;
}
