<div class="row justify-content-center mt-2">
    <div class="col-md-10 col-sm-12">
        <button class="btn btm-sm btn-primary" routerLink="/pictogramas">
            <i class="fas fa-arrow-left"></i>
        </button>
        <form (ngSubmit)="onSubmit()" [formGroup]="formPic">
            <div class="card shadow" @basicAnimate>
                <div class="card-header text-center">
                    <b class="text-muted">NUEVO PICTOGRAMA</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <b class="text-muted">Nombre</b>
                                <input type="text" class="form-control" [ngClass]="getValidationClass('Nombre')"
                                 formControlName="Nombre">
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="nombre.errors?.required">
                                      El nombre es requerido
                                  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <b class="text-muted">Descripción</b>
                                <!-- <input type="text" class="form-control" [ngClass]="getValidationClass('Descripcion')" 
                                formControlName="Descripcion"> -->
                                <textarea formControlName="Descripcion" class="form-control" 
                                          [ngClass]="getValidationClass('Descripcion')"></textarea>
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">
                                  <span *ngIf="descripcion.errors?.required">
                                      La descripción es requerida
                                  </span>
                                </div>
                            </div>
                            <app-images-upload (changeFiles)="onChangeFile($event)"></app-images-upload>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <app-select-coordinates height="310px" (selectCoordinate)="coordenada = $event"></app-select-coordinates>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-sm-10">
                            <button [disabled]="formPic.invalid || files.length === 0 || !coordenada" class="btn btn-block btn-success" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>