<div class="container text-center">
  <div class="btn-group" role="group">
    <button class="btn btn-sm" (click)="typeChart = 'line'" 
            [ngClass]="(typeChart === 'line')? 'btn-primary' : 'btn-outline-primary'">
      <i class="fas fa-chart-area"></i>
    </button>
    <button class="btn btn-sm" (click)="typeChart = 'bar'" 
            [ngClass]="(typeChart === 'bar')? 'btn-primary' : 'btn-outline-primary'">
      <i class="fas fa-chart-bar"></i>
    </button>
  </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="typeChart">
      </canvas>
    </div>
</div>
