<!--<div class="row">
	<div class="col-md-6 col-sm-12">
		<h4>Calendario de Eventos</h4>
		<hr>
		<ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'></ejs-calendar>	
	</div>
	<div class="col-md-6 col-sm-12">
		<h4>Eventos</h4>
		<hr>
		<img [src]="'evento1.jpg' | imgServer: 'evento'" class="w-100" />
	</div>
</div>-->


	<hr>
	<div align="center">
<div class="col-md-8 ">
	  <h4 class="d-block text-center">Calendario para la visualizacion de eventos</h4>
	  <hr>
<div class="container">
	<div id="calendar"style=" background: white"></div>
</div>
</div>
</div>

 