<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card shadow">
            <form #form1="ngForm" (ngSubmit)="onSubmit(form1)">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="btn-group" role="group">
                                <button (click)="defineRuta = true" class="btn btn-sm"
                                [ngClass]="defineRuta ? 'btn-primary' : 'btn-outline-primary'">TRAZADO DE RUTA</button>
                                <button (click)="defineRuta = false" class="btn btn-sm"
                                [ngClass]="defineRuta ? 'btn-outline-primary' : 'btn-primary'">PUNTOS DE CONTROL</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <input type="text" name="nombre" #name="ngModel" [(ngModel)]="nombre"
                                    class="form-control form-control-sm"
                                    [ngClass]="getValidationClass(name)"
                                    required
                                    placeholder="Ingresa el nombre de la ruta">
                            <!-- <div class="valid-feedback">Ok!</div> -->
                            <div class="invalid-feedback">
                                <span *ngIf="name.errors?.required">
                                    El nombre de la ruta es requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-6">
                            <button type="submit" [disabled]="form1.invalid"
                                    class="btn btn-block btn-sm btn-success">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <button class="btn btn-sm btn-outline-warning mr-3" (click)="deshacer()">
                            Deshacer
                            <i class="fas fa-undo"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="limpiar()">
                            Limpiar
                            <i class="fas fa-eraser"></i>
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-6 text-center">
                        <b class="text-muted mr-2">Puntos interés</b>
                        <button class="btn btn-sm btn-info" (click)="verPtsInteres = !verPtsInteres; loadPuntosInteres();">
                            <i class="fas fa-eye" *ngIf="!verPtsInteres"></i>
                            <i class="fas fa-eye-slash" *ngIf="verPtsInteres"></i>
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="float-right">
                            <span class="badge badge-primary mr-2">Punto de interés</span>
                            <span class="badge badge-danger">Punto de control</span>
                        </div>
                    </div>
                </div>
                <!-- Mapa -->
                <div id="map-recorrido"></div>
            </div>
        </div>
    </div>
</div>