<section>
  <div class="container">
    <div class="row" style="padding-right:20%; padding-left:20%;">
      <div class="col-md-8">
        <h4>Agregar Noticia</h4>
      </div>
      <div class="col-md-4">
        <a class="btn btn-dark btn-block" routerLink="/noticias">Regresar al inicio</a>
      </div>
      <div class="col-md-12">
        <div class="card" style="margin-top:2%">
          <div class="card-body">
            <form #notiForm ="ngForm" (ngSubmit)="agregar(notiForm)">
              <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" name="titulo" class="form-control" #titulo="ngModel" [(ngModel)]="noti.titulo" [ngClass]="{'is-invalid': titulo.errors && titulo.touched}" required minlength="2">
                <div [hidden]="!titulo.errors?.required" class="invalid-feedback">
                  Titulo requerido
                </div>
                <div [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
                  Debe contener al menos 2 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="descripcion">Contenido</label>
                <input type="text" name="descripcion" class="form-control" #descripcion="ngModel" [(ngModel)]="noti.descripcion" [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}" required minlength="2">
                <div [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                    Contenido requerido
                </div>
                <div [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                    Debe tener al menos 2 caracteres
                </div>
              </div>
              <div class="form-group">
                <label for="fechaPublicacion">Fecha de publicación</label>
                <input type="date" name="fechaPublicacion" class="form-control" #fechaPublicacion="ngModel" [(ngModel)]="noti.fechaPublicacion" [ngClass]="{'is-invalid': fechaPublicacion.errors && fechaPublicacion.touched}" required minlength="2">
                <div [hidden]="!fechaPublicacion.errors?.required" class="invalid-feedback">
                    Fecha requerido
                </div>
              </div>
              <div class="form-group">
                <label for="imagenesUrl">Seleccione una imagen</label>
                <input type="file" class="form-control-file" (change)="onFileSelected($event)">
                <input type="hidden" name="imagenesUrl" class="form-control" #imagenesUrl="ngModel" [(ngModel)]="noti.imagenesUrl">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
