<header>
    <h1 class="titulo">Agregar Noticias</h1>

<section>
    <div align = "center">
        <div class="container">
            <div class="row">
                <div class = "boton" > 
                    <a 
                        class="letra" 
                        href="/admin/ver_noticias" 
                        role="button"
                        >
                        Regresar al Inicio
                    </a>                             
                </div>
            </div>    
        </div>
       <br>
    </div>  
</section>
</header>


<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4 style="text-align: center;">
                            Agregar Noticia
                        </h4>
                        <form #notiForm ="ngForm" (ngSubmit)="agregar(notiForm)">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="titulo">Titulo:</label>
                                        <input 
                                        type="text"
                                        name="titulo" 
                                        class="form-control" 
                                        #titulo="ngModel"
                                        [(ngModel)]="noti.titulo"
                                        [ngClass]="{'is-invalid': titulo.errors && titulo.touched}" 
                                        required minlength="2">
                                    <div 
                                        [hidden]="!titulo.errors?.required" class="invalid-feedback">
                                        Titulo requerido
                                    </div>
                                    <div 
                                        [hidden]="!titulo.errors?.minlength" class="invalid-feedback">
                                        Debe contener al menos 2 caracteres
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label for="descripcion">CONTENIDO:</label>
                                    <input                                         
                                        type="text" 
                                        name="descripcion" 
                                        class="form-control" 
                                        #descripcion="ngModel" 
                                        [(ngModel)]="noti.descripcion"
                                        [ngClass]="{'is-invalid': descripcion.errors && descripcion.touched}" 
                                        required minlength="2"
                                    >
                                    <div 
                                        [hidden]="!descripcion.errors?.required" class="invalid-feedback">
                                        Contenido requerido
                                    </div>
                                    <div
                                        [hidden]="!descripcion.errors?.minlength" class="invalid-feedback">
                                        Debe tener al menos 2 caracteres
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="fecha_publicacion">FECHA DE PUBLICACION:</label>
                                    <input
                                        type="date" 
                                        name="fecha_publicacion" 
                                        class="form-control" 
                                        #fecha_publicacion="ngModel" 
                                        [(ngModel)]="noti.fecha_publicacion"
                                        [ngClass]="{'is-invalid': fecha_publicacion.errors && fecha_publicacion.touched}" 
                                        required minlength="2"
                                    >
                                    <div 
                                        [hidden]="!fecha_publicacion.errors?.required" class="invalid-feedback">
                                        Fecha requerido
                                    </div>                                   

                                </div>

                                <div class="form-group">
                                    <label for="imagenesUrl">SELECCIONE UNA IMAGEN:</label>
                                    <input type="file" (change)="onFileSelected($event)">
                                    <input 
                                        type="hidden" 
                                        name="imagenesUrl" 
                                        class="form-control" 
                                        #imagenesUrl="ngModel" 
                                        [(ngModel)]="noti.imagenesUrl"
                                    >                                   
                                </div>


                                

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" >Agregar</button>
                      
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>