<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav" *ngIf="authService.isAuthenticate() && authService.rolUsuario() !== undefined  && authService.rolUsuario()===1">
            <div class="text-center sb-sidenav-menu-heading">Piedras del Tunjo</div>
                <a *ngFor="let ruta of routes" class="nav-link" [routerLink]="ruta.path">
                    <i [class]="'fas fa-' + ruta.icon"></i>
                    &nbsp;&nbsp;
                    {{ ruta.label }}
                </a>
        </div>
        <div class="nav" *ngIf="!authService.isAuthenticate()">
            <div class="text-center sb-sidenav-menu-heading">Piedras del Tunjo</div>
                <a *ngFor="let ruta of anonymousRoutes" class="nav-link" [routerLink]="ruta.path">
                    <i [class]="'fas fa-' + ruta.icon"></i>
                    &nbsp;&nbsp;
                    {{ ruta.label }}
                </a>
        </div>
         <div class="nav" *ngIf="authService.isAuthenticate() && authService.rolUsuario() !== undefined  && authService.rolUsuario()===3">
            <div class="text-center sb-sidenav-menu-heading">Piedras del Tunjo</div>
                <a *ngFor="let ruta of cajeroRoutes" class="nav-link" [routerLink]="ruta.path">
                    <i [class]="'fas fa-' + ruta.icon"></i>
                    &nbsp;&nbsp;
                    {{ ruta.label }}
                </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Piedras del Tunjo</div>
    </div>
</nav>