<div class="card">
    <div class="card-header text-center">
        <button [class]="'mr-3 btn btn-sm ' + (ruta? 'btn-primary' : 'btn-outline-primary')"
                (click)="ruta = true"
        >Ruta</button>
        <button [class]="'btn btn-sm ' + (ruta? 'btn-outline-primary' : 'btn-primary')"
                (click)="ruta = false">Puntos de Control</button>
    </div>
    <div class="card-body p-2">
        <button class="btn btn-sm btn-warning mr-3" [disabled]="coordenadas.length === 0" (click)="deshacer()">
            Deshacer
            <i class="fas fa-undo"></i>
        </button>
        <button class="btn btn-sm btn-danger" [disabled]="coordenadas.length === 0" (click)="limpiar()">
            Limpiar
            <i class="fas fa-eraser"></i>
        </button>
    </div>
</div>
<div id="map"></div>

<!-- <pre>
    {{ idsPuntosInt | json }}
</pre> -->