<b class="text-muted text-center d-block">USUARIOS PENDIENTES DE REVISIÓN</b>
<hr>
<div class="container" *ngIf="usuariosPendientes && usuariosPendientes.length === 0">
    <b class="text-muted">No hay usuarios pendientes de revisión</b>
</div>
<div class="row justify-content-center mb-3" *ngIf="usuariosPendientes">
    <div class="col-md-4 col-sm-6 col-xs-10 mb-3" *ngFor="let user of usuariosPendientes">
        <div class="card shadow">
            <div class="card-header text-center">
                <b class="text-muted">N. documento:&nbsp;&nbsp;</b>
                {{ user.NumeroDocumento }}
            </div>
            <div class="card-body">
                <div class="container text-center mb-3">
                    <img [src]="user.Icono_url | imgServer: 'avatar'" width="80px" height="80px" 
                    [alt]="user.NumeroDocumento">
                </div>
                <table class="table table-sm">
                    <tr>
                        <td><b class="text-muted">Nombre</b></td>
                        <td>{{ user.Nombre }} {{ user.Apellido }}</td>
                    </tr>
                    <tr>
                        <td><b class="text-muted">Correo</b></td>
                        <td>
                            {{ user.CorreoElectronico | slice:0:22 }}
                            {{ user.CorreoElectronico.length > 22 ? '...' : '' }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-primary" 
                routerLink="/usuarios-pendientes/verificar/{{ user.Id }}">Verificar</button>
            </div>
        </div>
    </div>
</div>