<div class="container">
    <div class="float-left">
        <button class="btn btn-sm btn-light shadow" routerLink="/reportes">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
    <b class="text-muted text-center d-block">REPORTES RESERVAS CABAÑAS</b>
</div>
<hr>
<div class="float-left">
    <button class="btn btn-sm btn-info" (click)="verGrafica = !verGrafica">
        {{ verGrafica ? 'VER TABLA' : 'VER GRÁFICA' }}
    </button>
</div>
<div class="container table-responsive" *ngIf="reservaCabanas && !verGrafica">
    <div class="row justify-content-end mb-2">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <select [(ngModel)]="selectedMonth" class="form-control">
                <option *ngFor="let month of months; let i = index;" [value]="(i+1)">{{ months[i] }}</option>
            </select>
        </div>
    </div>
    <table class="table table-sm table-bordered text-center shadow">
        <thead class="thead-dark">
            <tr>
                <th>Fecha Reserva</th>
                <th>Cabaña</th>
                <th>Valor Total</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="(reservaCabanas | reservasMes:selectedMonth:'cabana').length === 0" class="text-center">
                <td colspan="4">No hay reservas para mostrar</td>
            </tr>
            <tr *ngFor="let reserva of (reservaCabanas | reservasMes:selectedMonth:'cabana') ">
                <td>{{ reserva.FechaReserva | date: 'dd MMM yyyy' }}</td>
                <td>{{ reserva.UCabana.Nombre }}</td>
                <td>{{ reserva.ValorTotal | currency: 'COP ' }}</td>
                <td>{{ reserva.UUsuarioId }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container" *ngIf="reservaCabanas && verGrafica">
    <app-chart-reservas-cabanas [reservas]="reservaCabanas"></app-chart-reservas-cabanas>
</div>